#all{
    width:100%;
    margin-top: 100px;
    float:left;
    text-align:center;
}

#bgimg{
  background: url(bg.jpg);
  background-size: 100%;
  background-position: 0 0;
  width: 100%;
  margin: 100px auto;
  padding: 200px 0;
}
